<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-eRestaurantWeb-c622671b-1fd2-442b-aa7d-1a0cf237546f;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWeb-c622671b-1fd2-442b-aa7d-1a0cf237546f.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="eRestaurant" connectionString="data source=.\SQLEXPRESS;initial catalog=eRestaurant;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
